{% extends 'base.html' %}

{% block headContent %}

    <style>
        .HeadTag {
            font: bold 45px comic-sans;
            color: white;
            background-color: teal;            
        }
        .SigningInTag {
            height: 200px;
        }
        #signIn {
            position: absolute;
            font: bold;
            color: white;
            background-color: black;
            margin-left: 1150px;
            margin-top: 100px;            
            margin-bottom: 50px;
            width: 60px;
            border: 1px solid black;
            padding-top: 15px;
            padding-left: 20px;
        }
        .MenuTag {
            font: 20px comic-sans;
            color: white;
            background-color: teal;
            margin-bottom: 30px;
        }
        .Login {
            float: left;
        }
        .Notice {
            float: left;
        }
        label {
            padding-right: 20px;
            padding-bottom: 20px;
        }
        a { 
            text-decoration: none;
            font: 20px comic-sans;
            color: white;
            padding-right: 50px;
        }
        #LAA {
            text-decoration: underline;
            padding-left: 500px;
            color: blue;
        }
        label.acntntLogin {
            color: blue;
            font: bold comic-sans;
            padding-bottom: 20px;
        }
        label.notice {
            color: blue;
            font: bold comic-sans;
            padding-left: 250px;
        }
        label.noticeText {
            font: comic-sans;
            padding-left: 200px;
        }
        input, select {
            margin-bottom: 5px;
        }
        button {
            margin-left: 93px;
            color: white;
            background-color: black;
        }
        #invalidLogin {
            font-size: 30px;
            color: red;
        }
        #id_branch {
            margin-left: 19px;
            padding-right: 10px;
        }
        #id_passWord {
            margin-left: 3px;
        }
    </style>
    
{% endblock %}

{% block authContent %}

    <div class="SigningInTag" style="background-image: url(/static/system-update.png); background-attachment: fixed;
    background-size: cover;">
        <label id="signIn">SIGN IN</label>
    </div>

{% endblock %}

{% block bodyContent %}

    <div class="Body">
        <label id="invalidLogin"><b>{{ error }}</b></label> <br>
        <div class="Login">
            <form id="bPay" method="POST" action='/accountantAuth/'>
                {% csrf_token %}
                <a id="LAA" href="/adminLogin/">Login As Administrator</a> <br>
                <label class="acntntLogin">Login Form</label> <br><br>
                {{ form_br.as_p }}
                {{ form.as_p }}
                <!-- <label id="username">Username : </label><br>
                <input type="text" id="usrname"> <br>
                <label id="passwd">Password : </label><br>
                <input type="password" id="usrpwd"> <br> -->
                <button type="submit" id="acntntlogin">Login</button>
            </form>
        </div>
        <div class="Notice">
            <br>
            <label class="notice">Notice</label> <br><br>
            <label class="noticeText">Welcome Accountant!</label>
        </div>
    </div>

{% endblock %}