{% extends 'base.html' %}

{% block headContent %}

    <style>
        .HeadTag {
            font: bold 45px comic-sans;
            color: white;
            background-color: teal;            
        }
        .SigningInTag {
            height: 200px;
        }
        #signIn {
            position: absolute;
            font: bold;
            color: white;
            background-color: black;
            margin-left: 1150px;
            margin-top: 100px;            
            margin-bottom: 50px;
            width: 60px;
            border: 1px solid black;
            padding-top: 15px;
            padding-left: 20px;
        }
        .MenuTag {
            font: 20px comic-sans;
            color: white;
            background-color: teal;
            margin-bottom: 30px;
        }
        .Login {        
            float: left;
        }        
        label {
            padding-right: 20px;
            padding-bottom: 20px;
        }
        a { 
            text-decoration: none;
            font: 20px comic-sans;
            color: white;
            padding-right: 50px;
        }
        label.adminTitle {
            font: 20px comic-sans;
            color: blue;
            padding-left: 500px;
        }
        label.adminLogin {
            font: bold comic-sans;
            color: blue;
            padding-bottom: 20px;
        }
        label.notice {
            font: bold comic-sans;
            color: blue;
            padding-left: 250px;
        }
        label.noticeText {
            font: comic-sans;
            padding-left: 100px;
        }
        input,select {
            margin-bottom: 5px;
        }
        button {
            margin-left: 93px;
            color: white;
            background-color: black;
        }
        #invalidLogin {
            font-size: 30px;
            color: red;
        }
        #id_passWord {
            margin-left: 3px;
        }
    </style>

{% endblock %}

{% block authContent %}

    <div class="SigningInTag" style="background-image: url(/static/system-update.png); background-attachment: fixed;
    background-size: cover;">
        <label id="signIn">SIGN IN</label>
    </div>

{% endblock %}

{% block bodyContent %}

    <div class="Body">
        <label id="invalidLogin"><b>{{ error }}</b></label> <br>
        <div class="Login">
            <form id="bPay" method="POST" action='/adminAuth/'> 
                {% csrf_token %} 
                <label class="adminTitle">CONSULTANT</label> <br>
                <label class="adminLogin">Admin Login Form</label> <br>
                {{ form.as_p }}
                <!-- <label id="username">Username : </label></br>
                <input type="text" id="usrname"> </br>
                <label id="passwd">Password : </label></br>
                <input type="password" id="usrpwd"> </br> --> 
                <button type="submit" id="adminlogin">Login</button>
            </form>
        </div>
        <div class="Notice">
            <br>
            <label class="notice">Notice</label> <br><br>
            <label class="noticeText">Welcome Administrator! You can visit a lot of Information about various Branches and Accountants</label>
        </div>
    </div>

{% endblock %}