{% extends 'base.html' %}

{% block headContent %}

    <style>
        .HeadTag {
            font: bold 45px comic-sans;
            color: white;
            background-color: teal;            
        }
        .LogOutTag {
            height: 200px;            
        }
        .MenuTag {
            font: 20px comic-sans;
            color: white;
            background-color: teal;
            margin-bottom: 30px;
        }
        #home, #registerStudent, #modifyStudent, #administrator, #contact { 
            text-decoration: none;
            font: 20px comic-sans;
            color: white;
            padding-right: 50px;
        }
        #LO {
            position: absolute;
            text-decoration: none;
            font: 17px comic-sans;
            color: white;
            background-color: black;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-left: 90%;
            margin-top: 100px;
            margin-bottom: 50px;
            width: 85px;
            border: 1px solid black;
            padding-left: 13px;
        }
        label {
            position: absolute;
            padding-right: 20px;
            padding-bottom: 20px;            
        }
        label.accountantTitle {
            font: 20px comic-sans;
            color: blue;
            padding-left: 500px;
        }
        input, select {
            margin-bottom: 5px;
        }
        input {
            margin-right: 800px;        
        }
        button {
            margin-left: 140px;
            color: white;
            background-color: black;
        }
        #id_Name, #id_Course, #id_Mobile, #id_Father_name, #id_Mother_name, #id_Qualification, 
        #id_DOB, #id_Date_of_Joining, #id_Date_of_Submission, #id_Paid, #id_Fee, #id_Balance,
        #id_Address, #id_Description, #id_Trainer {
            margin-left: 45%;
        }         
    </style>

{% endblock %}

{% block authContent %}

    <div class="LogOutTag" style="background-image: url(/static/system-update.png); background-attachment: fixed;
    background-size: cover;">
        <a href="/logOut/" id="LO">LOG OUT</a>
    </div>

{% endblock %}

{% block bodyContent %}

    <form id="bPay" method="POST" action="/registerStudentDetails/">
        {% csrf_token %}
        {{ form_st.as_p }}
        <button type="submit">Save</button>
    </form>

{% endblock %}